@font-face {
    font-family: 'gandhi';
    src: url('../fonts/GandhiSans-Regular-webfont.eot');
    src: url('../fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GandhiSans-Regular-webfont.woff') format('woff'),
         url('../fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/GandhiSans-Regular-webfont.svg#gandhi_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'daysregular';
    src: url('../fonts/Days-webfont.eot');
    src: url('../fonts/Days-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Days-webfont.woff') format('woff'),
         url('../fonts/Days-webfont.ttf') format('truetype'),
         url('../fonts/Days-webfont.svg#daysregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'enigmaticbold';
    src: url('../fonts/EnigmaB_2-webfont.eot');
    src: url('../fonts/EnigmaB_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/EnigmaB_2-webfont.woff') format('woff'),
         url('../fonts/EnigmaB_2-webfont.ttf') format('truetype'),
         url('../fonts/EnigmaB_2-webfont.svg#enigmaticbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amblebold';
    src: url('../fonts/Amble-Bold-webfont.eot');
    src: url('../fonts/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amble-Bold-webfont.woff') format('woff'),
         url('../fonts/Amble-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Amble-Bold-webfont.svg#amblebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

