footer{
	position:relative;
	height: 150px;
	background-color: $darkgreen;
	text-align: center;
	padding: 15px 0;
	a{
		display: inline-block;
		height: 100%;
		margin-top: 20px;
		padding: 0 20px;
		img{
			vertical-align: middle;
			width: auto;
			height: 60px;
		}
		
	}
}