footer{
	position:relative;
	height: 150px;
	background-color: $darkgreen;
	text-align: center;
	a{
		display: inline-block;
		height: 100%;
		padding:40px 20px;
		img{
			vertical-align: middle;
			width: auto;
			height: 60px;
		}
		
	}
}