 
@media (min-width: 981px) { 
	.only-mobile{
		display:none;
	}
	.only-desktop{
		display:block;
	}
}

@media (max-width: 980px) {

	

	#fixed-desktop-navigation{
		display:none;
	}
	#menu{
		a{
			display:block;
			padding:5px;
		}

		span{
			display:none;
		}
	}
	#content-container{
		#prestations{
			.relative img{
				width:100%;
				padding-bottom: 30px;
				min-height: 330px;
			}
		}
		#about{
			#history{
				padding-bottom: 30px;
				p{
					padding-right:0px;
				}

			}
		}
		#address{
			#map{
				#map-desktop{
					display:none;
				}
				#map-mobile{
					display:block;
				}
			}
			#address-box{
				padding-top: 60px;
				width:100%;
				box-shadow: 0 0 0;
			}
		}
	}
	footer{
		a{
			display:none;	
		}
	}
}     

@media (max-width: 768px) {
	header{
		background-size: 100%;
    	background-attachment: fixed;
    	background-position: bottom;
	}
	
	#content-container{
		#prestations{
			.relative{
				height: 350px;
			}
		}
	}
}




@media (max-width: 480px) {

}
                         

                        

